.messageContainer{
    display: inline-block;
    width: 100%;
}
.messageBox{
    position: relative;
    background-color: white;
    width: fit-content;
    max-width: 31%;
    border-radius: 5px;
    height: auto;
    margin: 3px 10px;
    padding: 3px 0px 3px 10px;
    overflow-wrap: break-word;
}

.messageBox::after{
    content:"";
    display: block;
    clear:both;
}

.sentMessage{
    background-color: rgb(181, 249, 207);
    display: block;
    float: right;
}

.time{
    float: right;
    font-size: 12px;
    color: rgb(163, 162, 162);
    margin: 7px 5px 0px 5px;
}

.date{
    background-color: rgba(0, 0, 0, 0.188);
    width: fit-content;
    margin: 7px auto;
    padding: 2px 5px;
    border-radius: 7px;
}